* {
    box-sizing: border-box;
    margin: auto;
    font-family: Cambria;
}


/*Elemente ce tin de aspectul general al paginii: */


.header {
    background-color: #E6EBE0;
    text-align: left;
    color: #36C9C6;
    font-size: 30px;
    height: 85px;
}

.row {
    display: flex;
}

.column {
    padding: 45px;
    height: 1150px;
}

.column.left {
    flex: 0.3;
    background-color: #F4F1BB;
    padding-top: 10px;
    padding-left: 20px;
    color: #36C9C6;
}

.column.right {
    flex: 1;
    background-color: #F4F1BB;
    padding-top: 10px;
    color: black;
}

.column.middle {
    flex: 2;
    background-color: #ED6A5A;
    color: white;
}

.footer {
    background-color: #ED6A5A;
    padding: 10px;
    text-align: center;
}

@media (max-width: 900px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .header {
        font-size: 0.9em;
    }
}

/* Animatia titlului "Fun Fact Corner" */


#titludr {
    color: #36C9C6;
    float: right;
    animation-name: titlu;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

@keyframes titlu {
    from {
        color: #36C9C6;
    }
    to {
        color: #ED6A5A;
    }
}


/*Formatarea butoanelor Acasa si Exploreaza + meniu dropdown */


#explore, #acasa {
    background-color: #F4F1BB;
    color: #36C9C6;
    border: none;
    cursor: pointer;
}

#explore {
    text-decoration: underline;
}

#meniu {
    position: relative;
}

#explore:hover, #acasa:hover {
    background-color: #E6EBE0;
    border: 1px solid white;
}

#submeniu {
    position: absolute;
    visibility: hidden;
    left: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

a {
    color: #36C9C6;
}

nav a {
    line-height: 300%;
}

#explore:hover + #submeniu, #meniu > ul:hover {
    visibility: visible;
    background-color: #E6EBE0;
}

#meniu > ul:hover li {
    visibility: visible;

}

#meniu:hover #explore {
    background-color: #E6EBE0;
}

#meniu > ul > li:hover {
    background-color: #36C9C6;
    color: white;
}

#meniu > ul > li:hover h3 {
    color: white;
}


#calendar {
    width: 100%;
    padding-top: 30px;
    /*height: 80%;*/
}


#calendar:hover {
    transform: rotate(10deg);
}


#titlu_art {
    color: white;
    text-align: center;
    padding-bottom: 30px;
}


/* Galeria de imagini: */


.gallery {
    border: 5px solid #ccc;
}

.gallery:hover {
    border: 5px solid #777;
    color: black;
    cursor: pointer;
}

figure {
    width: 100%;
    height: auto;
}

figcaption {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.333333333%;
}

@media only screen and (max-width: 800px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

article {
    padding: 30px;
    line-height: 150%;
}

p {
    padding: 15px;
}

.footer {
    position: relative;
    height: 60px;
}

#animate {
    position: absolute;
    background-color: #F4F1BB;
}

button {
    background-color: whitesmoke;
    border-radius: 8px;
    height: 30px;
}
